# Ambiente virtual
.venv/

# Python
__pycache__/
*.pyc

# Banco de dados
*.db

# Logs
*.log

# Arquivos temporários
*.tmp

# VS Code
.vscode/

# Variáveis de ambiente
.env

# Fotos temporárias
desconhecidos/

# Modelos treinados
*.h5
*.pkl

# Cache
.pytest_cache/

# macOS
.DS_Store

# Windows
Thumbs.db
